.card{
  border:1px solid grey;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  background-color: beige;
  color: black;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.card:hover{
    filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
    cursor: pointer;
}

.container-fluid landing{
  
  background-image: url(https://images.unsplash.com/photo-1629084544345-58481822326b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80)

}

hr{

  color: black;

}

body{

  background-color: #00171F;
  color: white;

}
p{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.signUp{

  justify-content: center;
  width: 50%;
  align-items: center;

}

.signUp button{

  margin: 1rem;
  text-align: center;
}

.jumbotron{
 background-color:#153131;

}

.business{

  background-color:#A30000;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 2rem;
}

.creative{

  background-color:#004777;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 2rem;

}

.sports{

  background-color:#D7F9FF;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 2rem;

}

.youth{

  background-color:#E9E3E6;
  border-radius: 5px;
  color:black;
  padding: 10px;
  font-size: 15px;
  margin: 2rem;
}
h2{

  text-decoration: underline;
  font-family: 'Permanent Marker', cursive;

}

#comment{

  background-color:cornflowerblue;
}
