{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}" />
{% endblock %}

{% block content %}
<footer>
    <div class="footer">
      <div class="row">
        <div class="col-md-4" id="info">
          <h1>FOLLOW US ON SOCIAL</h1>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#" class="fa fa-pinterest"></a>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <p>Here at ThinkTank we encourage people to think outside the box. Be the best version of yourself.</p>
            <p>Push yourself hard for six months and you'll see the results carry you forward 5 years.</p>
        </div>
        <div class="col-md-4">
          <div class="address">
            <address>
              <strong>Tazama, Co.</strong><br>
              1355 Market Street, Suite 900<br>
              San Francisco, CA 94103<br>
              <abbr title="Phone">Company No:</abbr>(123) 456-7890
            </address>
            <address>
              <strong>Full Name</strong><br>
              <a href="mailto:#">Tazama.last@example.com</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
