{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}  
<div class="container-fluid">
    
   

    <div class="col-md-3">

        <div class='signUp' style="display: flex; margin: 5px">

            <div>
                <a href="{{ url_for('auth.login') }}"><button class="btn btn-primary">Sign In</button></a>
                <a href="{{ url_for('auth.register') }}"><button class="btn btn-primary">Register</button></a>
            </div>

        </div>

    </div>


</div>
{% endblock %}
</body>
</html>