{% macro displayPitches(pitches) %}

{% for pitch in pitches %}
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <blockquote>
                <cite>User: {{ pitch.user.username }}</cite>
                <hr>
                <cite>
                    <h3>Category : {{ pitch.category_name }}</h3>
                </cite>
                <p class='lead'>{{ pitch.pitch_content }}</p>
                <cite class='text'><strong>Posted on:{{ pitch.posted }}</strong></cite>
                <a href="{{ url_for('main.detail',id=pitch.id)}}"><button class="btn btn-success" style="margin-top: 10px;">Read & Comment</button></a>
            </blockquote>
        </div>
       
    </div>

</div>

{% endfor %}

{% endmacro %}

{% macro commentFound(comments) %}
{% for comment in comments or [] %}
<div class="card">
    <h1>{{ comment.user.username }}</h1>
    <p class="title">{{ comment.com_write }}</p>
</div>
{% endfor %}
{% endmacro %}