{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}



{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

<div class='col-md-6'>
    <blockquote>
    <h1 style='text-decoration:underline;'>{{ one_pitch.category_name }}</h1>
    <h3>{{ one_pitch.pitch_content }}</h3>
    </blockquote>
<div class="vote" style="font-size: 15px; display: flex;">
    <form action="">
    <button class="btn"style="margin-right: 1rem">
   <a href="{{url_for('main.detail', id = one_pitch.id)}}? upVote=1"><i  name = "upVote" value = "upVote" class="fas fa-thumbs-up" >{{ one_pitch.upVote }}</i></a>
    </button>
    <button class="btn"  style="margin-right: 1rem">
   <a href="{{url_for('main.detail', id = one_pitch.id)}}?downVote=1"> <i name = "downVote" value = "downVote" class="far fa-thumbs-down">{{ one_pitch.downVote }}</i></a>
    </button>
    </form>
  </div>
</div>

<div class="col-md-4">
{% if current_user.is_authenticated %}
    {{ wtf.quick_form(com_form) }}
{% else %}
    <h1>SIGN IN TO MAKE A COMMENT</h1>
{% endif %}
<hr>
<h1>Comments</h1>
{{ macro.commentFound(comments) }}
</div>
<div class="col-md-2"></div>


{% endblock %}