{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}



{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/pitch-detail.css')}}">
{% endblock %}

{% block content %}

<div class='col-md-6'>
    <h1>{{ one_pitch.category_name }}</h1>
    <h3>{{ one_pitch.pitch_content }}</h3>

<div class="vote" style="font-size: 15px; display: flex;">
    <a href="{{url_for('main.thumbs_up', id = one_pitch.id)}}"><button class="btn btn-outline-primary" style="margin-right: 1rem">upVote {{ one_pitch.upVote }}</button></a><br>
    <p></p>
    <a action="{{url_for('main.thumbs_down', id = one_pitch.id)}}"><button class="btn btn-outline-danger" style="margin-right: 1rem">Downvote {{ one_pitch.downVote }}</button></a><br>
    <p></p>
  </div>
</div>

<div class="col-md-4">
{% if current_user.is_authenticated %}
    {{ wtf.quick_form(com_form) }}
{% else %}
    <h1>SIGN IN TO MAKE A COMMENT</h1>
{% endif %}

{{ macro.commentFound(comments) }}
</div>
<div class="col-md-2"></div>


{% endblock %}